.env
node_modules
dist-ssr
*.local

# Compiled Object Files (Static & Dynamic libs [Shared Objects])

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*


*.o
*.a
*.so

# Folders 
_obj
_test
vendor/

# Logs
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Compiled binary files
*.exe
*.out

# macOS specific files
.DS_Store

# Go specific files
# Compiled binary for packages & commands
/bin/
# Output of go coverage tool specifically when used w/ LiteIDE
*.out

